    #################################################
    # START PRINT MACRO
    #################################################
[gcode_macro START_PRINT]
description: Start Print Macro
gcode:
    {% set BED = params.BED|default(60)|float %}
    {% set EXTRUDER = params.EXTRUDER|default(210)|float %}
    {% set MATERIAL = params.MATERIAL|default("PLA")|upper %}
    {% set HEATSOAK = params.HEATSOAK|default(20)|int %}

    {% set ENCLOSED = MATERIAL in [
        "ABS","ASA","ABS-CF","ASA-CF"
        "PC","PC-CF",
        "PA","PA6","PA12","PAHT","PA-CF","PACF",
        "PPS","PPS-CF",
        "PPA","PPA-CF"
    ] %}

    M117 Preparing...
    M107
    BED_MESH_CLEAR

    # Gehäuselüfter
    {% if ENCLOSED %}
        SET_FAN_SPEED FAN=BentoBox SPEED=0.9
        SET_FAN_SPEED FAN=intake_exhaust SPEED=0.0
    {% else %}
        SET_FAN_SPEED FAN=BentoBox SPEED=0.0
        SET_FAN_SPEED FAN=intake_exhaust SPEED=0.7
    {% endif %}

    # Bett und Hotend vorheizen
    M140 S{BED}
    M104 S150

    # Homing
    G28

    # Bett vollständig aufheizen
    M190 S{BED}

    # Gantry ausrichten
    M117 Quad Gantry Level...
    QUAD_GANTRY_LEVEL
    G28 Z

    # Nozzle auf Reinigungstemperatur
    M109 S150

    # Nozzle reinigen
    #CLEAN_NOZZLE

    G4 P300

    # Cartographer Touch
    CARTOGRAPHER_TOUCH_HOME

    # Adaptives Bed Mesh
    M117 Bed Mesh...
    BED_MESH_CALIBRATE ADAPTIVE=1 METHOD=rapid_scan

    # Parken vor Purge
    SMART_PARK

    # Endtemperatur
    M117 Heating Nozzle...
    M109 S{EXTRUDER}

    # Purge Line
    LINE_PURGE

    M117 Printing...



    #################################################
    # END PRINT MACRO
    #################################################
[gcode_macro END_PRINT]
description: Druck beenden und adaptiv vom KAMP-Druckbereich wegfahren
gcode:
    # Aktuelle Position und Achsgrenzen
    {% set th = printer.toolhead %}
    {% set current_x = th.position.x|float %}
    {% set current_y = th.position.y|float %}
    {% set current_z = th.position.z|float %}

    {% set x_min_limit = th.axis_minimum.x|float %}
    {% set y_min_limit = th.axis_minimum.y|float %}
    {% set x_max_limit = th.axis_maximum.x|float %}
    {% set y_max_limit = th.axis_maximum.y|float %}
    {% set z_max_limit = th.axis_maximum.z|float %}

    # Abstand zwischen Modell und Parkposition
    {% set park_margin = 15.0 %}

    # Verfügbaren sicheren Z-Hop berechnen
    {% set z_hop = [50.0, z_max_limit - current_z]|min %}
    {% set z_hop = [z_hop, 0.0]|max %}

    # KAMP-/Exclude-Object-Daten auswerten
    {% set objects = printer.exclude_object.objects|default([]) %}
    {% set ns = namespace(
        found=false,
        min_x=x_max_limit,
        min_y=y_max_limit,
        max_x=x_min_limit,
        max_y=y_min_limit
    ) %}

    {% for object in objects %}
        {% if object.polygon is defined %}
            {% for point in object.polygon %}
                {% set ns.found = true %}
                {% set ns.min_x = [ns.min_x, point[0]|float]|min %}
                {% set ns.min_y = [ns.min_y, point[1]|float]|min %}
                {% set ns.max_x = [ns.max_x, point[0]|float]|max %}
                {% set ns.max_y = [ns.max_y, point[1]|float]|max %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    # Standard-Parkposition als Rückfallebene
    {% set park_x = x_max_limit / 2 %}
    {% set park_y = y_max_limit - 10 %}

    {% if ns.found %}
        # Mögliche Positionen außerhalb des Druckbereichs
        {% set left_x   = [ns.min_x - park_margin, x_min_limit + 5]|max %}
        {% set right_x  = [ns.max_x + park_margin, x_max_limit - 5]|min %}
        {% set front_y  = [ns.min_y - park_margin, y_min_limit + 5]|max %}
        {% set rear_y   = [ns.max_y + park_margin, y_max_limit - 5]|min %}

        # Entfernung von aktueller Position zu jeder Seite
        {% set dist_left  = (current_x - left_x)|abs %}
        {% set dist_right = (right_x - current_x)|abs %}
        {% set dist_front = (current_y - front_y)|abs %}
        {% set dist_rear  = (rear_y - current_y)|abs %}

        {% set shortest = [
            dist_left,
            dist_right,
            dist_front,
            dist_rear
        ]|min %}

        # Gerade auf der kürzesten Strecke vom Modell wegfahren
        {% if shortest == dist_left %}
            {% set park_x = left_x %}
            {% set park_y = current_y %}
        {% elif shortest == dist_right %}
            {% set park_x = right_x %}
            {% set park_y = current_y %}
        {% elif shortest == dist_front %}
            {% set park_x = current_x %}
            {% set park_y = front_y %}
        {% else %}
            {% set park_x = current_x %}
            {% set park_y = rear_y %}
        {% endif %}

        # Koordinaten innerhalb des erreichbaren Bereichs halten
        {% set park_x = [[park_x, x_min_limit + 5]|max, x_max_limit - 5]|min %}
        {% set park_y = [[park_y, y_min_limit + 5]|max, y_max_limit - 5]|min %}
    {% endif %}

    M400

    # Filament zurückziehen
    M83
    G1 E-2.0 F1800

    # Erst anheben, anschließend vom Modell wegfahren
    {% if z_hop > 0 %}
        G91
        G1 Z{z_hop} F1200
        G90
    {% else %}
        G90
    {% endif %}

    G1 X{park_x} Y{park_y} F12000

    TURN_OFF_HEATERS
    M107

    SET_FAN_SPEED FAN=BentoBox SPEED=0

    BED_MESH_CLEAR
    M84

    M117 Print Finished



    #-----------------------------------Macros-------------------------------------#

[gcode_macro CLEAN_NOZZLE]
gcode:
    SAVE_GCODE_STATE NAME=CLEAN_NOZZLE
    G90

    #################################################
    # Raise nozzle to a safe height
    #################################################

    G1 Z10 F1200

    #################################################
    # Clean on metal scraper
    #################################################

    G1 X329.5 Y355 F12000
    G1 Z-1.300 F600

    {% for i in range(2) %}
        G1 X321 Y354 F500
        G1 X338 Y356 F500
        G1 X321 Y356 F500
        G1 X338 Y354 F500
    {% endfor %}

    #################################################
    # Clean on silicone brush
    #################################################

    G1 X278 Y356 F12000
    G1 Z-1.771 F600

    {% for i in range(6) %}
        G1 X267 Y355 F4500
        G1 X289 Y355 F4500
        G1 X267 Y355 F4500
        G1 X289 Y355 F4500
    {% endfor %}

    #################################################
    # Raise nozzle and restore state
    #################################################

    G1 Z10 F1200

    RESTORE_GCODE_STATE NAME=CLEAN_NOZZLE


[homing_override]
axes: z
set_position_z: 0
gcode:
    {% set HOME_CUR_X = 0.45 %}
    {% set HOME_CUR_Y = 0.45 %}
    {% set RUN_CUR_X = printer.configfile.settings['tmc2209 stepper_x'].run_current %}
    {% set RUN_CUR_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current %}
    {% set CENTER_X = printer.toolhead.axis_maximum.x / 2 %}
    {% set CENTER_Y = printer.toolhead.axis_maximum.y / 2 %}

    G90
    G1 Z10 F600

    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR_Y}
    M400

    # Y zuerst
    G28 Y
    G91
    G1 Y-5 F900
    G90
    M400

    # Dann X
    G28 X
    G91
    G1 X-5 F900
    G90
    M400

    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR_Y}
    M400

    G90
    G1 X{CENTER_X} Y{CENTER_Y} F9000

    G28 Z

    G91
    G1 Z10 F600
    G90


# ---------------------------------------------------------
# Toolhead RGBW LED Status Macros
# LED 1 + 2 = Nozzle LEDs, always white
# LED 3     = Logo LED, status color
# ---------------------------------------------------------

[gcode_macro _TH_LEDS]
variable_nozzle_white: 0.50
gcode:

[gcode_macro STATUS_OFF]
gcode:
    SET_LED LED=th_leds INDEX=1 RED=0 GREEN=0 BLUE=0 WHITE=0 TRANSMIT=0
    SET_LED LED=th_leds INDEX=2 RED=0 GREEN=0 BLUE=0 WHITE=0 TRANSMIT=0
    SET_LED LED=th_leds INDEX=3 RED=0 GREEN=0 BLUE=0 WHITE=0 TRANSMIT=1

[gcode_macro STATUS_READY]
gcode:
    SET_LED LED=th_leds INDEX=1 WHITE={printer["gcode_macro _TH_LEDS"].nozzle_white} TRANSMIT=0
    SET_LED LED=th_leds INDEX=2 WHITE={printer["gcode_macro _TH_LEDS"].nozzle_white} TRANSMIT=0
    SET_LED LED=th_leds INDEX=3 WHITE=0.30 TRANSMIT=1

[gcode_macro STATUS_HEATING]
gcode:
    SET_LED LED=th_leds INDEX=1 WHITE={printer["gcode_macro _TH_LEDS"].nozzle_white} TRANSMIT=0
    SET_LED LED=th_leds INDEX=2 WHITE={printer["gcode_macro _TH_LEDS"].nozzle_white} TRANSMIT=0
    SET_LED LED=th_leds INDEX=3 RED=1 GREEN=0 BLUE=0 WHITE=0 TRANSMIT=1

[gcode_macro STATUS_HOMING]
gcode:
    SET_LED LED=th_leds INDEX=1 WHITE={printer["gcode_macro _TH_LEDS"].nozzle_white} TRANSMIT=0
    SET_LED LED=th_leds INDEX=2 WHITE={printer["gcode_macro _TH_LEDS"].nozzle_white} TRANSMIT=0
    SET_LED LED=th_leds INDEX=3 RED=1 GREEN=0.7 BLUE=0 WHITE=0 TRANSMIT=1

[gcode_macro STATUS_LEVELING]
gcode:
    SET_LED LED=th_leds INDEX=1 WHITE={printer["gcode_macro _TH_LEDS"].nozzle_white} TRANSMIT=0
    SET_LED LED=th_leds INDEX=2 WHITE={printer["gcode_macro _TH_LEDS"].nozzle_white} TRANSMIT=0
    SET_LED LED=th_leds INDEX=3 RED=1 GREEN=0.35 BLUE=0 WHITE=0 TRANSMIT=1

[gcode_macro STATUS_CLEANING]
gcode:
    SET_LED LED=th_leds INDEX=1 WHITE={printer["gcode_macro _TH_LEDS"].nozzle_white} TRANSMIT=0
    SET_LED LED=th_leds INDEX=2 WHITE={printer["gcode_macro _TH_LEDS"].nozzle_white} TRANSMIT=0
    SET_LED LED=th_leds INDEX=3 RED=0 GREEN=1 BLUE=1 WHITE=0 TRANSMIT=1

[gcode_macro STATUS_CALIBRATING_Z]
gcode:
    SET_LED LED=th_leds INDEX=1 WHITE={printer["gcode_macro _TH_LEDS"].nozzle_white} TRANSMIT=0
    SET_LED LED=th_leds INDEX=2 WHITE={printer["gcode_macro _TH_LEDS"].nozzle_white} TRANSMIT=0
    SET_LED LED=th_leds INDEX=3 RED=0.6 GREEN=0 BLUE=1 WHITE=0 TRANSMIT=1

[gcode_macro STATUS_MESHING]
gcode:
    SET_LED LED=th_leds INDEX=1 WHITE={printer["gcode_macro _TH_LEDS"].nozzle_white} TRANSMIT=0
    SET_LED LED=th_leds INDEX=2 WHITE={printer["gcode_macro _TH_LEDS"].nozzle_white} TRANSMIT=0
    SET_LED LED=th_leds INDEX=3 RED=0 GREEN=0.2 BLUE=1 WHITE=0 TRANSMIT=1

[gcode_macro STATUS_PRINTING]
gcode:
    SET_LED LED=th_leds INDEX=1 WHITE={printer["gcode_macro _TH_LEDS"].nozzle_white} TRANSMIT=0
    SET_LED LED=th_leds INDEX=2 WHITE={printer["gcode_macro _TH_LEDS"].nozzle_white} TRANSMIT=0
    SET_LED LED=th_leds INDEX=3 WHITE=0.35 TRANSMIT=1

[gcode_macro STATUS_PAUSED]
gcode:
    SET_LED LED=th_leds INDEX=1 WHITE={printer["gcode_macro _TH_LEDS"].nozzle_white} TRANSMIT=0
    SET_LED LED=th_leds INDEX=2 WHITE={printer["gcode_macro _TH_LEDS"].nozzle_white} TRANSMIT=0
    SET_LED LED=th_leds INDEX=3 RED=1 GREEN=0 BLUE=1 WHITE=0 TRANSMIT=1

[gcode_macro STATUS_FINISHED]
gcode:
    SET_LED LED=th_leds INDEX=1 WHITE={printer["gcode_macro _TH_LEDS"].nozzle_white} TRANSMIT=0
    SET_LED LED=th_leds INDEX=2 WHITE={printer["gcode_macro _TH_LEDS"].nozzle_white} TRANSMIT=0
    SET_LED LED=th_leds INDEX=3 RED=0 GREEN=1 BLUE=0 WHITE=0 TRANSMIT=1

[gcode_macro STATUS_ERROR]
gcode:
    SET_LED LED=th_leds INDEX=1 WHITE=0.8 TRANSMIT=0
    SET_LED LED=th_leds INDEX=2 WHITE=0.8 TRANSMIT=0
    SET_LED LED=th_leds INDEX=3 RED=1 GREEN=0 BLUE=0 WHITE=0 TRANSMIT=1





[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT_BASE
description: Sicherer Druckabbruch
gcode:
    END_PRINT
    CANCEL_PRINT_BASE


[gcode_macro EXHAUST_FAN]
description: Steuerung des Intake/Exhaust-Lüfters
gcode:
    {% set speed = params.SPEED|default(1.0)|float %}
    {% set speed = [[speed, 0.0]|max, 1.0]|min %}
    SET_FAN_SPEED FAN="intake_exhaust" SPEED={speed}


[delayed_gcode HOTEND_FAN_MONITOR]
initial_duration: 10
gcode:
    {% set temp = printer.extruder.temperature|float %}
    {% set rpm = printer["heater_fan hotend_fan"].rpm|default(0)|float %}
    {% set state = printer.print_stats.state|lower %}

    {% if state in ["printing", "paused"] and temp >= 80 and rpm < 1000 %}
        RESPOND TYPE=error MSG="Hotend-Lüfter ausgefallen! Druck wird abgebrochen."
        TURN_OFF_HEATERS
        CANCEL_PRINT
    {% endif %}

    UPDATE_DELAYED_GCODE ID=HOTEND_FAN_MONITOR DURATION=3