

[include mainsail.cfg]
[include moonraker_obico_macros.cfg]
[include macros.cfg]
[include OrbiterSensor.cfg]
[include KAMP_Settings.cfg]
#[include Timelapse.cfg]

[exclude_object]

[virtual_sdcard]
path: ~/printer_data/gcodes
[display_status]
[pause_resume]
[firmware_retraction]
retract_length: 0.4
retract_speed: 35
unretract_extra_length: 0.0
unretract_speed: 35
[force_move] 
enable_force_move: true 






[mcu cartographer]
canbus_uuid: f4233740ad34
[mcu EBB]
canbus_uuid: 3d1016a42fee
[mcu]
canbus_uuid: 790b8c4932ea


[printer]
kinematics: corexy
max_velocity: 700
max_accel: 20000
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 5.0





# =========================
# Cartographer
# =========================


[cartographer]
mcu: cartographer
x_offset: 0 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 21 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: no # For extra output


[bed_mesh]
speed: 400
zero_reference_position: 175, 175                  
horizontal_move_z: 5         
#mesh_min: 40,44
#mesh_max: 310,314 
mesh_min: 50,35
mesh_max: 330,310         
probe_count: 35,35           
algorithm: bicubic   


[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105






# =========================
# X-AXIS (Motor1)
# =========================

[stepper_x]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 355         
position_max: 355             
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True  

[tmc2209 stepper_x]
uart_pin: PE3
diag_pin: PF3
interpolate: True             
run_current: 1.1           
#hold_current: 1.2             
sense_resistor: 0.110         
stealthchop_threshold: 0      
driver_sgthrs: 70



# =========================
# Y-AXIS (Motor2)
# =========================

[stepper_y]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 364         
position_max: 364            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true   

[tmc2209 stepper_y]
uart_pin: PC13
diag_pin: PF4
interpolate: True             
run_current: 1.1          
#hold_current: 1.2             
sense_resistor: 0.110         
stealthchop_threshold: 0
driver_sgthrs: 70


# =========================
# Z3 (Motor3A)
# =========================

[stepper_z]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PE0
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop  
position_max: 330            
position_min: -10
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 0.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PB9
interpolate: True             
run_current: 0.50           
#hold_current: 0.58         
sense_resistor: 0.110         
stealthchop_threshold: 999999 


# =========================
# Z2 (Motor4)
# =========================

[stepper_z1]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16   

[tmc2209 stepper_z1]
uart_pin: PB5
run_current: 0.50
sense_resistor: 0.110
stealthchop_threshold: 999999


# =========================
# Z1 (Motor5)
# =========================

[stepper_z2]
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16 

[tmc2209 stepper_z2]
uart_pin: PG14
run_current: 0.50
sense_resistor: 0.110
stealthchop_threshold: 999999


# =========================
# Z4 (Motor6)
# =========================

[stepper_z3]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16 

[tmc2209 stepper_z3]
uart_pin: PG10
run_current: 0.50
sense_resistor: 0.110
stealthchop_threshold: 999999







# =========================
# HEATED BED
# =========================

[heater_bed]
heater_pin: PF5
sensor_pin: PB0
sensor_type: Generic 3950
#control: pid
min_temp: 0
max_temp: 105
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

[verify_heater heater_bed]
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2    





# =========================
# FANS & LED
# =========================

# TMC2209 Cooling Fan
[controller_fan tmc_fan]
pin: PF6
fan_speed: 0.7
idle_timeout: 120


# SSR Cooling Fan
[heater_fan SSR]
pin: PF9
heater: heater_bed
heater_temp: 60.0
max_power: 1.0
fan_speed: 0.7
shutdown_speed: 0.0


# PSU Cooling Fan
[temperature_fan PSU]
pin: PA2
tachometer_pin: PC1
sensor_type: temperature_host
control: watermark

target_temp: 15
max_delta: 2
min_temp: 0
max_temp: 100

max_power: 1.0
shutdown_speed: 0.0
min_speed: 0.4
max_speed: 0.4
kick_start_time: 0.5


# Exhaust/Intake Case Fan
[fan_generic intake_exhaust]
pin: PF8
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.100
off_below: 0.0


# BentoBox Fan
[fan_generic BentoBox]
pin: PA4



# =========================
# HOMING / QGL
# =========================

[quad_gantry_level]          
gantry_corners:              
   -60,-10
   410,420
points:
   60,40
   60,300
   330,300
   330,40
speed: 180                   
horizontal_move_z: 10       
retry_tolerance: 0.01      
retries: 5                  
max_adjust: 10



# =========================
# MISC
# =========================

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PC5
min_temp: 0
max_temp: 75


[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>





#--------------------------EBB36-----------------------------#

# =========================
# EBB - INPUT SHAPING
# =========================

[temperature_sensor EBB36]
sensor_type: Generic 3950
sensor_pin: EBB:PA0
pullup_resistor: 2200

[lis2dw]
cs_pin: EBB:PB1
spi_bus:spi2_PB2_PB11_PB10
axes_map: x,y,z

[resonance_tester]
accel_chip: lis2dw
probe_points:
    175,175,20



# =========================
# EBB - EXTRUDER
# =========================

[extruder]
step_pin: EBB:PB14
dir_pin: EBB:PA8
enable_pin: !EBB:PB6
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 4.637
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
max_extrude_cross_section: 5
heater_pin: EBB:PB4
sensor_type: PT1000
pullup_resistor: 2200
sensor_pin: EBB:PA3
#control: pid
#pid_kp: 21.547
#pid_ki: 6.246
#pid_kd: 18.584
min_extrude_temp: 190
min_temp: 10
max_temp: 355

[tmc2209 extruder]
uart_pin: EBB:PB3
interpolate: true
run_current: 0.850
hold_current: 0.100
stealthchop_threshold: 0



# =========================
# EBB - FANS/LED
# =========================

[multi_pin Part_Cooling]
pins: EBB:PA5, EBB:PD3

[fan]
pin: multi_pin:Part_Cooling
kick_start_time: 0.5
off_below: 0.10

[heater_fan hotend_fan]
pin: EBB:PD2
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 45.0
tachometer_pin: EBB:PA4
tachometer_ppr: 2
tachometer_poll_interval: 0.0005

[neopixel th_leds]
pin: EBB:PC7   
chain_count: 3
color_order: RGBW
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 0
initial_WHITE: 0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.750
#*# pid_ki = 2.341
#*# pid_kd = 580.779
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 30.036
#*# pid_ki = 13.350
#*# pid_kd = 16.895
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.4460605649973928,1.9257522107844254,0.8534750735032616,0.41887873748307003,0.3272463737154397,0.34386475737320554,-0.10498497905139872,-0.19908665011559343,0.2787314164884114,0.21279034251968196
#*# domain = 3.184582204250085e-07,3.391821669240467e-07
#*# z_offset = 0
#*# reference_temperature = 27.54
#*# software_version = 1.8.0
#*# mcu_version = CARTOGRAPHER v4 6.2.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 1491
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.8.0
#*# mcu_version = CARTOGRAPHER v4 6.2.0
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 64.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 42.4
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.032818, -0.021886, -0.013376, -0.008628, -0.001530, -0.005898, 0.000655
#*# 	  -0.037979, -0.020877, -0.013739, -0.008270, -0.013012, -0.008990, -0.003713
#*# 	  -0.031158, -0.018128, -0.006260, -0.003894, -0.003894, -0.005898, 0.000474
#*# 	  -0.027849, -0.013376, -0.005898, 0.003911, 0.000835, -0.001169, -0.002531
#*# 	  -0.019687, -0.008628, -0.001530, 0.000474, 0.003555, 0.003194, 0.006091
#*# 	  -0.018128, -0.008628, -0.003532, 0.005911, 0.003911, 0.003194, 0.001013
#*# min_x = 153.5
#*# min_y = 155.85
#*# max_x = 196.5
#*# max_y = 194.15
#*# x_count = 7
#*# y_count = 6
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = bicubic
#*# tension = 0.2
